.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 400px;  /* Increase width to match image 1 */
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modalContent {
  text-align: center;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0; /* Remove default margin */
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 0;
  font-size: 14px;
  color: #777;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.titleSeparator {
  width: 100%; /* Make the line as wide as the modal */
  height: 1px;
  background-color: #ddd;
  margin-bottom: 20px; /* Add some space between the line and the form */
}

.closeButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #555;
}

.closeButton:hover {
  color: #000;
}

