/* src/components/ConfirmPage.module.css */

.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .loadingText {
    font-size: 18px;
    font-weight: bold;
  }
  
  .confirmationMessage {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .errorMessage {
    color: red;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .successMessage {
    color: green;
    font-size: 16px;
    margin-top: 20px;
  }
  