.productGrid {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 5px !important;
    padding: 15px !important;
    overflow: hidden !important;
}

.productItem {
    width: 290px !important;
    border: 1px solid #ddd !important;
    border-radius: 8px !important;
    padding: 10px !important;
    background-color: #fff !important;
    text-align: center !important;
    transition: transform 0.2s ease-in-out !important;
}

.productItem:hover {
    transform: scale(1.02);
}

.productCard img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.productCard h3 {
    font-size: 16px;
    margin: 8px 0;
    font-weight: bold;
}

.productCard p {
    font-size: 14px;
    margin: 5px 0;
}

.category {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.sectionContainer {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 1500px;
    margin-top: 450px;
    margin-bottom: -450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sectionTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: red;
}
